/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;600&display=swap");

/* Form Container */
.parentAdjuster {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px; /* Ensure there's padding to avoid touching the screen edges */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  background-color: #f8f9fa; /* Adjust background color as needed */
  font-size: 16px; /* Set a default font size */
}

/* Form Container */
.application-form-container {
  width: 100%;
  max-width: 90vw; /* Adjust maximum width as needed */
  padding: 4vw; /* Adjust padding for smaller screens */
  background-color: #fff; /* Form background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Box shadow for form */
  display: flex; /* Add flex display */
  flex-direction: column; /* Stack elements vertically on small screens */
  align-items: center; /* Center items horizontally */
  overflow-x: hidden; /* Hide horizontal overflow */
  font-size: 16px; /* Default font size within the form container */
}

.actualContainer {
  width: 100%;
}

/* Input Styles */
input[type="text"],
input[type="number"],
input[type="tel"],
select {
  height: 42px;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #d3d3d3;
  font-size: 1rem;
}

/* Main Text */
.main-text {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Single Div */
.first-author,
.faculty-co-author {
  margin-top: 2rem;
}

.Institute select,
.faculty-Institute select {
  margin-top: 10px; /* Add margin-top to Institute container */
}

/* Radio Button */
.department-radio input[type="radio"],
.pg-ug-radio input[type="radio"],
.radio-input input[type="radio"],
.Indexing input[type="radio"],
.faculty-department-radio input[type="radio"] {
  margin-left: 5px; /* Add margin to the left of radio buttons */
}

/* Name Container */
.name-main-container,
.student-mobile-main-container,
.department-pg-ug-main-container,
.Institute-Attendence-main-container,
.paper-publisher-main-container,
.conference-main-container,
.fees-indexing-main-container,
.author-detail,
.attechments,
.faculty-department-institute-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.fname-container,
.mname-container,
.lname-container {
  width: 20vw;
}

.student-ID-container,
.mobile-number-container,
.department-container,
.pg-ug-container,
.Attendence,
.Institute,
.paper-title,
.publisher-detail,
.conference-name,
.conference-website,
.scopus-web-radio,
.reg-fees,
.author-name,
.roll-no,
.faculty-department-container,
.faculty-Institute {
  width: 28vw;
}

/* Department and PG/UG Container */
.department-radio,
.pg-ug-radio,
.Indexing,
.radio-input,
.faculty-department-radio {
  display: flex;
  gap: 2rem;
  margin-top: 10px;
}

/* Faculty Co-Author Input */
.faculty-co-author input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #d3d3d3;
  font-size: 1rem;
}

.confirmation {
  display: flex;
  align-items: center; /* Aligns checkbox and label in the center */
  width: 100%; /* Ensures the confirmation div takes full width */
  margin-top: 3rem;
}

.confirmation input[type="checkbox"] {
  margin-right: 10px; /* Adds space between checkbox and label */
}

/* Custom File Upload */
.file-upload-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.attechments {
  margin-top: 4rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  word-wrap: break-word; /* Ensure long words or URLs break and wrap */
  overflow-wrap: break-word; /* Ensure long words or URLs break and wrap */
  width: 100%; /* Make sure the attachment title takes the full width of the container */
}

.attechments > * {
  margin-top: 2rem; /* Adjust the value as needed */
}

/* Submit Button */
.form-submit {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.form-submit button {
  background-color: #1e4ae9;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 1rem;
}


.num-students-container{
  margin-top: 2rem;
}
.co-author-wrapper1{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.co-author-wrapper1 > .pg-ug , .department{
  width: 34%;
  margin-top: 2rem;
}

.Institute-Attendence-co-author-container{
  width:100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.Institute-Attendence-co-author-container > .attendance , .institute{
  width: 34%;
}
.hr{
  width: 100%;
  height: 20px;
  border-bottom: 1px dashed #323232;
  margin: 0;
  padding: 0;
}
.num-faculty-co-authors-container{
  margin-top: 2rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {

  .co-author-wrapper1{
    width: 100%;
  }
  
  .application-form-container {
    font-size: 14px;    
    padding: 4vw;
  }

  .name-main-container,
  .student-mobile-main-container,
  .department-pg-ug-main-container,
  .Institute-Attendence-main-container,
  .paper-publisher-main-container,
  .conference-main-container,
  .fees-indexing-main-container,
  .author-detail,
  .attechments {
    flex-direction: column;
    width: 80vw;
  }

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  select,
  .fname-container,
  .mname-container,
  .lname-container,
  .student-ID-container,
  .mobile-number-container,
  .department-container,
  .pg-ug-container,
  .Attendence,
  .Institute,
  .paper-title,
  .publisher-detail,
  .conference-name,
  .conference-website,
  .scopus-web-radio,
  .reg-fees,
  .author-name,
  .roll-no,
  .faculty-department-container,
  .faculty-Institute {
    width: 100%;  
  }

  .fname-container,
  .mname-container,
  .lname-container,
  .mobile-number-container, 
  .Attendence,
  .publisher-detail,
  .conference-website,
  .scopus-web-radio,
  .pg-ug-container,
  .faculty-Institute,
  .roll-no {
    margin-top: 2rem;
  }

  /* You can also adjust font sizes for specific elements if needed */
  .main-text {
    font-size: 1rem; /* Adjust main text font size */
  }

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  select,
  textarea {
    font-size: 0.9rem; /* Adjust input font size */
  }

  .submit button {
    width: calc(100% - 24px); /* Adjust button width */
  }

  
  .co-author-wrapper1{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  
.co-author-wrapper1 > .pg-ug , .department{
  width: 100%;
}

.Institute-Attendence-co-author-container{
  width:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.Institute-Attendence-co-author-container > .attendance , .institute{
  width: 100%;
}
}
