@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-white{
  background-color: white !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.navbar {
  width: 100%;
  height: fit-content;
  padding: 10px 20px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  z-index: 100;
}
.link{
  text-decoration: none !important;
}

.bar ul {
  display: flex;
  height: 3.625rem;
  padding: 1.5rem 3.25rem;
  justify-content: center;
  align-items: center;
  gap: 3.625rem;
}
.bar li {
  cursor: pointer;
}
.logos {
  display: flex;
  gap: 1vw;
  background-color: transparent;
}
.logos img{
  mix-blend-mode: multiply;
}

#charusat{
  mix-blend-mode:multiply !important;
}

.login-signup {
  display: flex;
  gap: 1.5vw;
}
.login-signup .signup,.login {
  cursor: pointer;
  display: flex;
  padding: 0.5vw 1.5vw;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 2.4375rem;
  background: #fff;
  outline: none;
  border: 1px solid #565656c3;
}
