.resetPasswordContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.resetPasswordContainer > .contentContainer{
    width: 30%;
    height: 50%;
}

input[type="password"],
input[type="number"],
input[type="tel"],
select {
  height: 42px;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #d3d3d3;
  font-size: 1rem;
}


.h1Reset{
    font-family: 'poppins';
    font-weight: 800;
    font-size: 2.5rem;
    text-align: start;
    margin-bottom: 10px;
}
.contentContainer p{
    text-align: justify;
}

.resetPasswordFormContainer{
    margin-top: 20px;
}

.resetPasswordFormContainer > .resetbtn{
    width: 100%;
    color: #fff;
    margin: 20px 0;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #132f61;
}

.resetPasswordFormContainer > .disabled {
    background-color: #b0bec5; /* Lighter shade of gray */
    cursor: not-allowed; /* Default cursor for disabled state */
}

.resetLink{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width:760px) {
    .resetPasswordContainer > .contentContainer{
        width: 90%;
        height: fit-content;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid gray;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .h1Reset{
        font-size: 1.8rem;
    }
}
